
#main{
    height: 100dvh;
    width: 98dvw;
    background-color: snow;
    border: 2px solid black;
    border-radius: 10vh;
    margin: 10vh 0.5vh;


    display: flex;
    justify-content: center;
    align-items: center;
}

#main > button{
    font-size: 2rem;
    padding:1rem 2rem;
    outline: 4px red solid;
    border-radius: 2vh;
    border: 2px solid red;
    transition: 100ms;
}


#main > button:is(:hover ){
    outline-offset: 4px;

}

#main > button:is(:focus ){
    background-color: red;
    color: white;
}