.main_prec_2 {
    height: 100vh;
    width: 98.5vw;
    border: .15rem solid black;
    border-radius: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: lightseagreen;

}


.main_prec_2  h1{
    font-family: revert;
    font-weight: bolder;
    -webkit-text-stroke: 1px lightseagreen;
    color: transparent;
   
}

.main_prec_2  h1:hover{
    color: lightseagreen;
    transition:all ease 2s;
}


.main_prec_2  button{
    transition: all ease 350ms;
}


.main_prec_2  button:hover{
    background-color: black !important;
    color: #fff !important;
    outline: 1px black solid;
    outline-offset: 2px;
}


.main_prec_2  input:active{
    background: black;
    color: white;
   
}




/* By Below i can remove arrow key of up and dowm from my number input */

.main_prec_2  input::-webkit-outer-spin-button , input::-webkit-inner-spin-button{
    display: none;
}