

.load_box{
    height: 100px ;
    width: 100px ;
    /* background-color: red; */
    margin: 1vh;
}

#loader1{

    border-radius: 50%;
    border: 5px solid rgb(201, 202, 203);

    border-top: 5px solid red;

    animation: rotate 1s infinite linear ;
}

#loader2{

    border-radius: 50%;
    border: 5px solid red;
    border-top: 0px;
    animation: rotate 1s infinite linear ;
}

#loader3{
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid red;
    animation: rotate 1s infinite linear ;
}

#loader3_2nd{
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid red;
    border-left: 5px solid red;
    border-bottom: 5px solid red;
    animation: rotate 1s infinite linear ;
}

#loader4{
    border-radius: 50%;
    border-top: 5px solid red;
    animation: rotate 1s infinite linear ;
}

#loader5{
    border-radius: 50%;
    border-top: 5px solid red;
    border-left: 5px solid red;
    animation: rotate 1s infinite linear ;
}




@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
    
}





#loaderTY1{
    border: 5px solid red;
    border-bottom: 0;
    border-left: 0;
    border-radius: 50%;
    animation: rotate 1s infinite linear ;
}


#loaderTY1 > div{
    height: 80%;
    width: 80%;
    border: 5px solid red;
    border-radius: 50%;
    border-top: 0;
    border-right: 0;
        animation: rotate 1s infinite linear ;
}



#loaderTY2{
    border: 5px solid red;
    border-bottom: 0;
    border-left: 0;
    border-radius: 50%;
    animation: rotate 1s infinite linear ;
}

#loaderTY2>div{
    height: 80%;
    width: 80%;
    border: 5px solid red;
    border-bottom: 0;
    border-left: 0;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: rotateRev 1s infinite linear ;
}


#loaderTY2>div>div{
    height: 80%;
    width: 80%;
    border: 5px solid red;
    border-bottom: 0;
    border-left: 0;
    border-radius: 50%;

    animation: rotate 1s infinite linear;
}


@keyframes rotateRev {
    0%{
        transform: rotate(-360deg);
    }
    
    100%{
        transform: rotate(0deg);
    }
    
}



#loaderTY3{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    animation: glowing .7s infinite linear  alternate-reverse;
}

@keyframes glowing {
    0%{
        transform: scale(.2);
    }
    
    100%{
        transform: scale(1);
    }
}





#loaderTY4{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;

    background-size: 50%;

    position: relative;

    animation:rotate 0.45s infinite ease-in;

}


#loaderTY4 > .div1{
    position: absolute;

    height: 50%;
    width: 50%;
    background-color: #fff;
    top: 0;
    right: 0;

}

#loaderTY4 > .div2{
    position: absolute;

    height: 50%;
    width: 50%;
    background-color: #fff;
    bottom: 0;
    left: 0;

}







.prec3{
    padding: 5vh;
   border-radius: 10vh;
   margin: 2vh 0;
    border: 2px solid black !important;

   display: flex;
   flex-wrap: wrap;

   background-color: cyan;
   gap: 5px;
}


.prec3  input{
    flex: 1 0 2rem;
}


.prec3  button{
    flex: 1 0 2rem;

    padding: 0.5vh;
    background-color: greenyellow;
    font-weight: bold;
    border-radius: 0.5vh;

    box-shadow: 5px 5px 2px  red;
    transition: box-shadow 0.5s;

}

.prec3  button:hover{
    box-shadow: -5px 5px 2px  red;
}

.prec3  button:focus{
   transform: scale(.95);
}


.prec3 ~ a{
    text-decoration: none;
    font-size: 2rem;
    color: black;
    position: relative;
    margin: 2vh;
}

.prec3 ~ a::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 5px;
    transition:all .5s;
}


.prec3 ~ a:hover::after{
    width: 105%;
}




/* Animation code starts here ---> */

#typingAnimation{
    text-transform: uppercase;
    color: red;
    border-right: 3px solid;
    overflow: hidden;
    width: 16ch;
    padding-left: 5px;
    animation: typing 4s infinite alternate-reverse steps(16);
    white-space: nowrap;
}



@keyframes typing {

    from{
        width: 0;
    }
    
}





