

#app_main {
    overflow-x: hidden;
    min-height: 100dvh;
    width: 100%;
    border: 1px solid ;
    background-color: lightcyan;
    border-radius: 2vh;
    scroll-behavior: smooth;
}


#app_main::-webkit-scrollbar {
    width: 5px;
}

#app_main::-webkit-scrollbar-track {
    background-color: transparent;
}

#app_main::-webkit-scrollbar-thumb {
    background-color: transparent;
}




#layout {
    /* controlling by props in jsx  */
    /* min-height: 100dvh; */
    width: 98.5%;
    overflow: hidden;

    border: 3px solid darkred;
    border-radius: 10vh;

    margin: 5vh 1%;
    padding: 5vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
}



#layout > #layout_heading{
    text-transform: capitalize;
    text-decoration: underline;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}





.main {
    padding: 4vh;
    display: flex;
    flex-direction: column-reverse;
}





@media (max-width:500px) {

    .main {

        flex-direction: column;
    }

    #layout{
        padding:5vh 0;
    }

}