:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* background-color: rgb(73, 69, 69); */
}


*{
  margin: 0;padding: 0;
}

html , #root{
  background-color: lightcyan;
}


html::-webkit-scrollbar{
  width: 5px;
}

html::-webkit-scrollbar-track{
  background-color: transparent;
}

html::-webkit-scrollbar-thumb{
  background-color: transparent;
}